{% extends "base.html" %}
{% set title = "Ninja Star | Homepage" %}
{% set active_page = "index" %}
{% block main %} 
<main class="container theme-showcase" role="main">
  <div class="jumbotron">
    <h1>Build Beautiful HTML</h1>
    <p>Modularize your HTML code by using templates and partials. Use it as a starting point to create something more unique by building on or modifying it.</p>
		<p class="text-center">
				<a class="btn btn-primary btn-lg" href="https://github.com/bigbassroller/html-ninja-star">Download on Github</a>
		</p>
  </div>
  {% include "../templates/partials/features.html" %} 	
</main>
{% endblock %}