// ====================================================
// Table of Contents
// ====================================================
// Scaffolding
// Utilities
// Typography
// Header
// Navigation
// Logo
// Footer
// Forms
// Buttons
// Alerts
// Media Quiries
// Deprecating


// ====================================================
// Scaffolding
// ====================================================

// ====================================================
// Utilities
// ====================================================

// ====================================================
// Typography
// ====================================================
a {
    color: black;
}
.text-center {
    text-align: center;
}
.theme-showcase .lead {
    color: #999;
    margin-bottom: 40px;
    text-align: center;
}
// ====================================================
// Header
// ====================================================

// ====================================================
// Navigation
// ====================================================

// ====================================================
// Logo
// ====================================================
.navbar-inverse .navbar-brand {
    color: #fff;
}
// ====================================================
// Footer
// ====================================================

// ====================================================
// Forms
// ====================================================

// ====================================================
// Buttons
// ====================================================

// ====================================================
// Alerts
// ====================================================

// ====================================================
// Deprecating
// ====================================================



// ====================================================
// Media Quiries
// ====================================================

