<hr>
<h2 class="text-center">Be Friends with HTML, Again</h2>
<p class="lead">Use new technology to build good ol' static HTML.</p>
<div class="row">
	<div class="col-sm-4">
		<h3>
			<i class="fa fa-hand-o-right"></i>
			Signup
		</h3>
		<p>
			The
			<code>/signup</code>
			endpoint makes sure the supplied username and email address are unique and creates new
			<code>User</code>
			and
			<code>Account</code>
			documents.
		</p>
	</div>
	<div class="col-sm-4">
		<h3>
			<i class="fa fa-sign-in"></i>
			Login
		</h3>
		<p>
			When supplied valid credentials, the
			<code>/login</code>
			endpoint creates a new
			<code>Session</code>
			. We've also included endpoints for resetting a forgotten password.
		</p>
	</div>
	<div class="col-sm-4">
		<h3>
			<i class="fa fa-paper-plane"></i>
			Email utility
		</h3>
		<p>
			The
			<code>/contact</code>
			endpoint demonstrates the built-in email utility. By composing Handlebars and Markdown, personalized emails with HTML and text parts share one template.
		</p>
	</div>
</div>
<hr>