{% set navigation_bar = [
	['http://localhost:8888/ninja-star/public/index.html',
	 'index',
	 'Home'],
	['http://localhost:8888/ninja-star/public/style-guide.html',
	 'style-guide',
	 'Style Guide']
] -%}

{% set active_page = active_page|default('index') -%}
<ul id="navigation">
		{% for href, id, caption in navigation_bar -%}
		<li {% if id == active_page %} class="active"{% endif%}>
		<a href="{% block href %}{{ href }}{% endblock %}">{% block caption %}{{ caption }}{% endblock -%}</a>
		</li>
{% endfor -%}
</ul>